<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Planes</title>
  <link href="../static/planes.css" rel="stylesheet" th:href="@{/planes.css}" type="text/css">
</head>
<body>
<h1>Airports</h1>
<br/>
<p>
<a href="/" class="clickable">Planes</a>

<a href="/airports" class="selected">Airports</a>
</p>
<br/>
<table>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">Continent</th>
    <th scope="col">Class</th>
    <th scope="col">Population</th>
    <th scope="col">Open</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="airport : ${airports}">
    <td th:text="${airport.name}">Berlin</td>
    <td th:text="${airport.country}">Germany</td>
    <td th:text="${airport.continent}">Europe</td>
    <td th:text="${airport.airportClass}">2</td>
    <td th:text="${airport.population}">3,769,495</td>
    <td><label><input type="checkbox" name="my-checkbox" th:checked="${airport.open}" disabled="disabled"></label></td>
  </tr>
  </tbody>
</table>
<br/>
<p>
  <a href="/airports?open=OPEN" class="base" th:classappend="${open ? 'selected' : 'clickable'}">Open</a>
  
  <a href="/airports?open=ALL" class="base" th:classappend="${open ? 'clickable' : 'selected'}">All</a>
</p>
<br/>
<div th:replace="../fragments/frame.html :: footer"></div>
</body>
</html>
