<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Planes</title>
  <link href="../static/planes.css" rel="stylesheet" th:href="@{/planes.css}" type="text/css">
</head>
<body>
<h1>Airports</h1>
<p><a href="/">Planes</a></p>
<table>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">Continent</th>
    <th scope="col">Class</th>
    <th scope="col">Population</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="airport : ${airports}">
    <td th:text="${airport.name}">Berlin</td>
    <td th:text="${airport.country}">Germany</td>
    <td th:text="${airport.continent}">Europe</td>
    <td th:text="${airport.airportClass}">2</td>
    <td th:text="${airport.population}">3,769,495</td>
  </tr>
  </tbody>
</table>
<p></p>
<div th:replace="../fragments/frame.html :: footer"></div>
</body>
</html>
